<div id="body_sincronizar">
  <div class="container">
    <div class="row justify-content-md-center m-5">
      <div class="col-md-auto title">
        <div class="row">
          <div class="col-md-auto texto_blue">
            WINK
          </div>
          <div class="col-md-auto texto_pink">
            /
          </div>
          <div class="col-md-auto texto_blue">
            ALARM
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-auto img">
        <img src="assets/images/Insect.png" alt="icono bug" class="img-fluid">
      </div>
      <div class="col-md-auto img">
        <img src="assets/images/Bird.png" alt="icono bug" class="img-fluid">
      </div>
      <div class="col-md-auto img">
        <img src="assets/images/Eagle.png" alt="icono bug" class="img-fluid">
      </div>
    </div>
    <div class="row justify-content-md-center my-5">
      <div class="col-md-1 pe-0">
        <input class="form-control" type="text" placeholder="Default input" aria-label="default input example" value="+57" disabled readonly>
      </div>
      <div class="col-md-3 ps-0">
        <input class="form-control" type="text" minlength="10" maxlength="10" placeholder="Numero de celular" aria-label="inputCelular">
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <button type="button" class="btn btn-primary">Sincronizar</button>
      </div>
    </div>
  </div>
</div>
