.scrollarea {
  overflow-y: auto;
}

.navside {
  display: flex;
  height: 100%;
  max-height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.contenedorArtista{
  position:absolute;
  top:0em;
  right:0px;
  bottom:0em;
  left:0px;
}

.overflow{
  overflow-x: hidden;
  overflow-y: hidden;
}

.padding-top-2em{
  padding-top: 2em;
}

.smimg{
  width: 40px;
  height: 50px;
  object-fit: cover;
}

.imgcover{
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .responsiveimg{
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .responsivetxt{
    width: 100px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 1000px) {
  .responsiveimg{
    width: 130px;
    height: 130px;
    object-fit: cover;
  }

  .responsivetxt{
    width: 130px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px) {
  .responsiveimg{
    width: 270px;
    height: 270px;
    object-fit: cover;
  }

  .responsivetxt{
    width: 270px;
  }
}

.texto{
  text-align: justify;
  color: rgba(255, 255, 255, 0.7);
}

.form-select{
  background-color: black;
  color: rgba(255, 255, 255, 0.7);
  border-color: #46C8F5;
  box-shadow: 0px 3px 6px#46C8F5;
}

.btn-primary{
  color: rgba(255, 255, 255, 0.7);
  background-color: #2F2F2F;
  border-color: #46C8F5;
  border-width: 1px;
  box-shadow: 0px 3px 6px#46C8F5;
}
